In [2]:
# Session 4: Assignment 1
# Task-1: 
# 1. Write a function to find moving average in an array over a window:
# Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

def moving_average(l, N):
    sum = 0
    result = list( 0 for x in l)
 
    for i in range( 0, N ):
        sum = sum + l[i]
        result[i] = sum / (i+1)
 
    for i in range( N, len(l) ):
        sum = sum - l[i-N] + l[i]
        result[i] = sum / N
 
    return result

l=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
y = moving_average(l, 3)
print(y)

[3.0, 4.0, 5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [3]:
# Session 4: Assignment 1
# Task-1: 
# 1. Write a function to find moving average in an array over a window:
# Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

# Pandas method of evaluating 'Moving Average' with window size = 3
import pandas as pd

# Create data
array_data = {'data': [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]}

# Create dataframe
df = pd.DataFrame(array_data)

# View dataframe
print(df)

# Step-1: Now I am calculating the moving average by taking the first 3 values and averaging them, 
# Step-2: then drop the first and add the third, etc.
df.rolling(window=3).mean()

    data
0      3
1      5
2      7
3      2
4      8
5     10
6     11
7     65
8     72
9     81
10    99
11   100
12   150

          data
0          NaN
1          NaN
2     5.000000
3     4.666667
4     5.666667
5     6.666667
6     9.666667
7    28.666667
8    49.333333
9    72.666667
10   84.000000
11   93.333333
12  116.333333

In [4]:
# Session 4: Assignment 1
# Task-2:
# 1. How-to-count-distance-to-the-previous-zero
# For each value, count the difference back to the previous zero (or the start of the Series,
# whichever is closer)
# create a new column 'Y'
# Consider a DataFrame df where there is an integer column 'X'

import pandas as pd
# df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
# df
# df_series = df['X']
s = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
bs = s.eq(0) # It will generate a Boolean Series
print(bs)
bscum = bs.cumsum() # It will generate a series of same length 
                    # but with the cumulative sum
print(bscum)

bscum_mask = bscum.mask(s.eq(0))
print(bscum_mask)
bscum_mask_grouped = s.groupby(bscum_mask)
print(bscum_mask_grouped)

bmgc = bscum_mask_grouped.cumcount()
print(bmgc)

bmgc_incr_1 = bmgc+1
print(bmgc_incr_1)

distance_from_prev_zero = bmgc_incr_1.mask(s.eq(0), 0)
print(distance_from_prev_zero)

dist_prev_zero = distance_from_prev_zero.tolist()
print(dist_prev_zero)

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7     True
8    False
9    False
dtype: bool
0    0
1    0
2    1
3    1
4    1
5    1
6    1
7    2
8    2
9    2
dtype: int64
0    0.0
1    0.0
2    NaN
3    1.0
4    1.0
5    1.0
6    1.0
7    NaN
8    2.0
9    2.0
dtype: float64
<pandas.core.groupby.groupby.SeriesGroupBy object at 0x114a1c9e8>
0    0
1    1
2    0
3    0
4    1
5    2
6    3
7    1
8    0
9    1
dtype: int64
0    1
1    2
2    1
3    1
4    2
5    3
6    4
7    2
8    1
9    2
dtype: int64
0    1
1    2
2    0
3    1
4    2
5    3
6    4
7    0
8    1
9    2
dtype: int64
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [5]:
# Session 4: Assignment 1
# Task-2:
# 2. Create a DatetimeIndex that contains each business day of 2015 and 
# use it to index a Series of random numbers.

import pandas as pd
import numpy as np
from numpy.random import randn as rn

drg = pd.date_range('2015-01-01', '2015-12-31', freq='B')
All_busines_date = [d.date() for d in drg]
print("All Business Dates in 2015: ",All_busines_date)

time_stamp = pd.Timestamp('2015-12-31', 'B')
print("Last Day's Time Stamp: ",time_stamp)

Last_date = time_stamp.date()
print("Last Date: ",Last_date)

nbc = np.busday_count(All_busines_date, Last_date)
print(drg)
print("The Total No. of Business Days: ",len(nbc))

print("\nDebasish DataFrame with DatetimeIndex\n",'-'*37, sep='')
np.random.seed(101)
random_df = pd.DataFrame(data=np.round(rn(len(nbc),1),2), index= drg, columns= ['Random numerics'])
print(random_df)

All Business Dates in 2015:  [datetime.date(2015, 1, 1), datetime.date(2015, 1, 2), datetime.date(2015, 1, 5), datetime.date(2015, 1, 6), datetime.date(2015, 1, 7), datetime.date(2015, 1, 8), datetime.date(2015, 1, 9), datetime.date(2015, 1, 12), datetime.date(2015, 1, 13), datetime.date(2015, 1, 14), datetime.date(2015, 1, 15), datetime.date(2015, 1, 16), datetime.date(2015, 1, 19), datetime.date(2015, 1, 20), datetime.date(2015, 1, 21), datetime.date(2015, 1, 22), datetime.date(2015, 1, 23), datetime.date(2015, 1, 26), datetime.date(2015, 1, 27), datetime.date(2015, 1, 28), datetime.date(2015, 1, 29), datetime.date(2015, 1, 30), datetime.date(2015, 2, 2), datetime.date(2015, 2, 3), datetime.date(2015, 2, 4), datetime.date(2015, 2, 5), datetime.date(2015, 2, 6), datetime.date(2015, 2, 9), datetime.date(2015, 2, 10), datetime.date(2015, 2, 11), datetime.date(2015, 2, 12), datetime.date(2015, 2, 13), datetime.date(2015, 2, 16), datetime.date(2015, 2, 17), datetime.date(2015, 2, 18), datetime.date(2015, 2, 19), datetime.date(2015, 2, 20), datetime.date(2015, 2, 23), datetime.date(2015, 2, 24), datetime.date(2015, 2, 25), datetime.date(2015, 2, 26), datetime.date(2015, 2, 27), datetime.date(2015, 3, 2), datetime.date(2015, 3, 3), datetime.date(2015, 3, 4), datetime.date(2015, 3, 5), datetime.date(2015, 3, 6), datetime.date(2015, 3, 9), datetime.date(2015, 3, 10), datetime.date(2015, 3, 11), datetime.date(2015, 3, 12), datetime.date(2015, 3, 13), datetime.date(2015, 3, 16), datetime.date(2015, 3, 17), datetime.date(2015, 3, 18), datetime.date(2015, 3, 19), datetime.date(2015, 3, 20), datetime.date(2015, 3, 23), datetime.date(2015, 3, 24), datetime.date(2015, 3, 25), datetime.date(2015, 3, 26), datetime.date(2015, 3, 27), datetime.date(2015, 3, 30), datetime.date(2015, 3, 31), datetime.date(2015, 4, 1), datetime.date(2015, 4, 2), datetime.date(2015, 4, 3), datetime.date(2015, 4, 6), datetime.date(2015, 4, 7), datetime.date(2015, 4, 8), datetime.date(2015, 4, 9), datetime.date(2015, 4, 10), datetime.date(2015, 4, 13), datetime.date(2015, 4, 14), datetime.date(2015, 4, 15), datetime.date(2015, 4, 16), datetime.date(2015, 4, 17), datetime.date(2015, 4, 20), datetime.date(2015, 4, 21), datetime.date(2015, 4, 22), datetime.date(2015, 4, 23), datetime.date(2015, 4, 24), datetime.date(2015, 4, 27), datetime.date(2015, 4, 28), datetime.date(2015, 4, 29), datetime.date(2015, 4, 30), datetime.date(2015, 5, 1), datetime.date(2015, 5, 4), datetime.date(2015, 5, 5), datetime.date(2015, 5, 6), datetime.date(2015, 5, 7), datetime.date(2015, 5, 8), datetime.date(2015, 5, 11), datetime.date(2015, 5, 12), datetime.date(2015, 5, 13), datetime.date(2015, 5, 14), datetime.date(2015, 5, 15), datetime.date(2015, 5, 18), datetime.date(2015, 5, 19), datetime.date(2015, 5, 20), datetime.date(2015, 5, 21), datetime.date(2015, 5, 22), datetime.date(2015, 5, 25), datetime.date(2015, 5, 26), datetime.date(2015, 5, 27), datetime.date(2015, 5, 28), datetime.date(2015, 5, 29), datetime.date(2015, 6, 1), datetime.date(2015, 6, 2), datetime.date(2015, 6, 3), datetime.date(2015, 6, 4), datetime.date(2015, 6, 5), datetime.date(2015, 6, 8), datetime.date(2015, 6, 9), datetime.date(2015, 6, 10), datetime.date(2015, 6, 11), datetime.date(2015, 6, 12), datetime.date(2015, 6, 15), datetime.date(2015, 6, 16), datetime.date(2015, 6, 17), datetime.date(2015, 6, 18), datetime.date(2015, 6, 19), datetime.date(2015, 6, 22), datetime.date(2015, 6, 23), datetime.date(2015, 6, 24), datetime.date(2015, 6, 25), datetime.date(2015, 6, 26), datetime.date(2015, 6, 29), datetime.date(2015, 6, 30), datetime.date(2015, 7, 1), datetime.date(2015, 7, 2), datetime.date(2015, 7, 3), datetime.date(2015, 7, 6), datetime.date(2015, 7, 7), datetime.date(2015, 7, 8), datetime.date(2015, 7, 9), datetime.date(2015, 7, 10), datetime.date(2015, 7, 13), datetime.date(2015, 7, 14), datetime.date(2015, 7, 15), datetime.date(2015, 7, 16), datetime.date(2015, 7, 17), datetime.date(2015, 7, 20), datetime.date(2015, 7, 21), datetime.date(2015, 7, 22), datetime.date(2015, 7, 23), datetime.date(2015, 7, 24), datetime.date(2015, 7, 27), datetime.date(2015, 7, 28), datetime.date(2015, 7, 29), datetime.date(2015, 7, 30), datetime.date(2015, 7, 31), datetime.date(2015, 8, 3), datetime.date(2015, 8, 4), datetime.date(2015, 8, 5), datetime.date(2015, 8, 6), datetime.date(2015, 8, 7), datetime.date(2015, 8, 10), datetime.date(2015, 8, 11), datetime.date(2015, 8, 12), datetime.date(2015, 8, 13), datetime.date(2015, 8, 14), datetime.date(2015, 8, 17), datetime.date(2015, 8, 18), datetime.date(2015, 8, 19), datetime.date(2015, 8, 20), datetime.date(2015, 8, 21), datetime.date(2015, 8, 24), datetime.date(2015, 8, 25), datetime.date(2015, 8, 26), datetime.date(2015, 8, 27), datetime.date(2015, 8, 28), datetime.date(2015, 8, 31), datetime.date(2015, 9, 1), datetime.date(2015, 9, 2), datetime.date(2015, 9, 3), datetime.date(2015, 9, 4), datetime.date(2015, 9, 7), datetime.date(2015, 9, 8), datetime.date(2015, 9, 9), datetime.date(2015, 9, 10), datetime.date(2015, 9, 11), datetime.date(2015, 9, 14), datetime.date(2015, 9, 15), datetime.date(2015, 9, 16), datetime.date(2015, 9, 17), datetime.date(2015, 9, 18), datetime.date(2015, 9, 21), datetime.date(2015, 9, 22), datetime.date(2015, 9, 23), datetime.date(2015, 9, 24), datetime.date(2015, 9, 25), datetime.date(2015, 9, 28), datetime.date(2015, 9, 29), datetime.date(2015, 9, 30), datetime.date(2015, 10, 1), datetime.date(2015, 10, 2), datetime.date(2015, 10, 5), datetime.date(2015, 10, 6), datetime.date(2015, 10, 7), datetime.date(2015, 10, 8), datetime.date(2015, 10, 9), datetime.date(2015, 10, 12), datetime.date(2015, 10, 13), datetime.date(2015, 10, 14), datetime.date(2015, 10, 15), datetime.date(2015, 10, 16), datetime.date(2015, 10, 19), datetime.date(2015, 10, 20), datetime.date(2015, 10, 21), datetime.date(2015, 10, 22), datetime.date(2015, 10, 23), datetime.date(2015, 10, 26), datetime.date(2015, 10, 27), datetime.date(2015, 10, 28), datetime.date(2015, 10, 29), datetime.date(2015, 10, 30), datetime.date(2015, 11, 2), datetime.date(2015, 11, 3), datetime.date(2015, 11, 4), datetime.date(2015, 11, 5), datetime.date(2015, 11, 6), datetime.date(2015, 11, 9), datetime.date(2015, 11, 10), datetime.date(2015, 11, 11), datetime.date(2015, 11, 12), datetime.date(2015, 11, 13), datetime.date(2015, 11, 16), datetime.date(2015, 11, 17), datetime.date(2015, 11, 18), datetime.date(2015, 11, 19), datetime.date(2015, 11, 20), datetime.date(2015, 11, 23), datetime.date(2015, 11, 24), datetime.date(2015, 11, 25), datetime.date(2015, 11, 26), datetime.date(2015, 11, 27), datetime.date(2015, 11, 30), datetime.date(2015, 12, 1), datetime.date(2015, 12, 2), datetime.date(2015, 12, 3), datetime.date(2015, 12, 4), datetime.date(2015, 12, 7), datetime.date(2015, 12, 8), datetime.date(2015, 12, 9), datetime.date(2015, 12, 10), datetime.date(2015, 12, 11), datetime.date(2015, 12, 14), datetime.date(2015, 12, 15), datetime.date(2015, 12, 16), datetime.date(2015, 12, 17), datetime.date(2015, 12, 18), datetime.date(2015, 12, 21), datetime.date(2015, 12, 22), datetime.date(2015, 12, 23), datetime.date(2015, 12, 24), datetime.date(2015, 12, 25), datetime.date(2015, 12, 28), datetime.date(2015, 12, 29), datetime.date(2015, 12, 30), datetime.date(2015, 12, 31)]
Last Day's Time Stamp:  2015-12-31 00:00:00
Last Date:  2015-12-31
DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')
The Total No. of Business Days:  261

Debasish DataFrame with DatetimeIndex
-------------------------------------
            Random numerics
2015-01-01             2.71
2015-01-02             0.63
2015-01-05             0.91
2015-01-06             0.50
2015-01-07             0.65
2015-01-08            -0.32
2015-01-09            -0.85
2015-01-12             0.61
2015-01-13            -2.02
2015-01-14             0.74
2015-01-15             0.53
2015-01-16            -0.59
2015-01-19             0.19
2015-01-20            -0.76
2015-01-21            -0.93
2015-01-22             0.96
2015-01-23             0.19
2015-01-26             1.98
2015-01-27             2.61
2015-01-28             0.68
2015-01-29             0.30
2015-01-30             1.69
2015-02-02            -1.71
2015-02-03            -1.16
2015-02-04            -0.13
2015-02-05             0.39
2015-02-06             0.17
2015-02-09             0.18
2015-02-10             0.81
2015-02-11             0.07
...                     ...
2015-11-20            -1.52
2015-11-23            -0.85
2015-11-24             1.60
2015-11-25             0.19
2015-11-26            -0.99
2015-11-27            -0.13
2015-11-30            -1.34
2015-12-01            -0.09
2015-12-02             0.70
2015-12-03            -1.41
2015-12-04             0.87
2015-12-07             1.59
2015-12-08             0.93
2015-12-09            -0.55
2015-12-10             0.94
2015-12-11            -0.98
2015-12-14            -1.05
2015-12-15             2.17
2015-12-16            -1.27
2015-12-17            -0.80
2015-12-18            -0.25
2015-12-21             0.09
2015-12-22             1.32
2015-12-23             0.79
2015-12-24             1.36
2015-12-25             0.77
2015-12-28             0.29
2015-12-29            -1.39
2015-12-30             0.15
2015-12-31            -0.73

[261 rows x 1 columns]

In [6]:
# Session 4: Assignment 1
# Task-2:
# 3. Find the sum of the values in s for every Wednesday

import pandas as pd
import numpy as np
from numpy.random import randn as rn

random_df.index.name = "Date_TimeIndex"
print(random_df)

random_df['dates'] = pd.to_datetime(random_df.index)                    
random_df['dayofweek'] = random_df['dates'].apply(lambda x: x.dayofweek)
print(random_df)

df_date_categ = random_df['dates'].apply(lambda x: 0 if x.dayofweek in [2] else 1)
print(df_date_categ)

rndf_grouped = random_df.groupby(df_date_categ)
print(rndf_grouped)

rgp = rndf_grouped.sum()
print(rgp)
# print(random_df)
print("The sum of the values in series for every Wednesday: ",rgp['Random numerics'][0])

                Random numerics
Date_TimeIndex
2015-01-01                 2.71
2015-01-02                 0.63
2015-01-05                 0.91
2015-01-06                 0.50
2015-01-07                 0.65
2015-01-08                -0.32
2015-01-09                -0.85
2015-01-12                 0.61
2015-01-13                -2.02
2015-01-14                 0.74
2015-01-15                 0.53
2015-01-16                -0.59
2015-01-19                 0.19
2015-01-20                -0.76
2015-01-21                -0.93
2015-01-22                 0.96
2015-01-23                 0.19
2015-01-26                 1.98
2015-01-27                 2.61
2015-01-28                 0.68
2015-01-29                 0.30
2015-01-30                 1.69
2015-02-02                -1.71
2015-02-03                -1.16
2015-02-04                -0.13
2015-02-05                 0.39
2015-02-06                 0.17
2015-02-09                 0.18
2015-02-10                 0.81
2015-02-11                 0.07
...                         ...
2015-11-20                -1.52
2015-11-23                -0.85
2015-11-24                 1.60
2015-11-25                 0.19
2015-11-26                -0.99
2015-11-27                -0.13
2015-11-30                -1.34
2015-12-01                -0.09
2015-12-02                 0.70
2015-12-03                -1.41
2015-12-04                 0.87
2015-12-07                 1.59
2015-12-08                 0.93
2015-12-09                -0.55
2015-12-10                 0.94
2015-12-11                -0.98
2015-12-14                -1.05
2015-12-15                 2.17
2015-12-16                -1.27
2015-12-17                -0.80
2015-12-18                -0.25
2015-12-21                 0.09
2015-12-22                 1.32
2015-12-23                 0.79
2015-12-24                 1.36
2015-12-25                 0.77
2015-12-28                 0.29
2015-12-29                -1.39
2015-12-30                 0.15
2015-12-31                -0.73

[261 rows x 1 columns]
                Random numerics      dates  dayofweek
Date_TimeIndex
2015-01-01                 2.71 2015-01-01          3
2015-01-02                 0.63 2015-01-02          4
2015-01-05                 0.91 2015-01-05          0
2015-01-06                 0.50 2015-01-06          1
2015-01-07                 0.65 2015-01-07          2
2015-01-08                -0.32 2015-01-08          3
2015-01-09                -0.85 2015-01-09          4
2015-01-12                 0.61 2015-01-12          0
2015-01-13                -2.02 2015-01-13          1
2015-01-14                 0.74 2015-01-14          2
2015-01-15                 0.53 2015-01-15          3
2015-01-16                -0.59 2015-01-16          4
2015-01-19                 0.19 2015-01-19          0
2015-01-20                -0.76 2015-01-20          1
2015-01-21                -0.93 2015-01-21          2
2015-01-22                 0.96 2015-01-22          3
2015-01-23                 0.19 2015-01-23          4
2015-01-26                 1.98 2015-01-26          0
2015-01-27                 2.61 2015-01-27          1
2015-01-28                 0.68 2015-01-28          2
2015-01-29                 0.30 2015-01-29          3
2015-01-30                 1.69 2015-01-30          4
2015-02-02                -1.71 2015-02-02          0
2015-02-03                -1.16 2015-02-03          1
2015-02-04                -0.13 2015-02-04          2
2015-02-05                 0.39 2015-02-05          3
2015-02-06                 0.17 2015-02-06          4
2015-02-09                 0.18 2015-02-09          0
2015-02-10                 0.81 2015-02-10          1
2015-02-11                 0.07 2015-02-11          2
...                         ...        ...        ...
2015-11-20                -1.52 2015-11-20          4
2015-11-23                -0.85 2015-11-23          0
2015-11-24                 1.60 2015-11-24          1
2015-11-25                 0.19 2015-11-25          2
2015-11-26                -0.99 2015-11-26          3
2015-11-27                -0.13 2015-11-27          4
2015-11-30                -1.34 2015-11-30          0
2015-12-01                -0.09 2015-12-01          1
2015-12-02                 0.70 2015-12-02          2
2015-12-03                -1.41 2015-12-03          3
2015-12-04                 0.87 2015-12-04          4
2015-12-07                 1.59 2015-12-07          0
2015-12-08                 0.93 2015-12-08          1
2015-12-09                -0.55 2015-12-09          2
2015-12-10                 0.94 2015-12-10          3
2015-12-11                -0.98 2015-12-11          4
2015-12-14                -1.05 2015-12-14          0
2015-12-15                 2.17 2015-12-15          1
2015-12-16                -1.27 2015-12-16          2
2015-12-17                -0.80 2015-12-17          3
2015-12-18                -0.25 2015-12-18          4
2015-12-21                 0.09 2015-12-21          0
2015-12-22                 1.32 2015-12-22          1
2015-12-23                 0.79 2015-12-23          2
2015-12-24                 1.36 2015-12-24          3
2015-12-25                 0.77 2015-12-25          4
2015-12-28                 0.29 2015-12-28          0
2015-12-29                -1.39 2015-12-29          1
2015-12-30                 0.15 2015-12-30          2
2015-12-31                -0.73 2015-12-31          3

[261 rows x 3 columns]
Date_TimeIndex
2015-01-01    1
2015-01-02    1
2015-01-05    1
2015-01-06    1
2015-01-07    0
2015-01-08    1
2015-01-09    1
2015-01-12    1
2015-01-13    1
2015-01-14    0
2015-01-15    1
2015-01-16    1
2015-01-19    1
2015-01-20    1
2015-01-21    0
2015-01-22    1
2015-01-23    1
2015-01-26    1
2015-01-27    1
2015-01-28    0
2015-01-29    1
2015-01-30    1
2015-02-02    1
2015-02-03    1
2015-02-04    0
2015-02-05    1
2015-02-06    1
2015-02-09    1
2015-02-10    1
2015-02-11    0
             ..
2015-11-20    1
2015-11-23    1
2015-11-24    1
2015-11-25    0
2015-11-26    1
2015-11-27    1
2015-11-30    1
2015-12-01    1
2015-12-02    0
2015-12-03    1
2015-12-04    1
2015-12-07    1
2015-12-08    1
2015-12-09    0
2015-12-10    1
2015-12-11    1
2015-12-14    1
2015-12-15    1
2015-12-16    0
2015-12-17    1
2015-12-18    1
2015-12-21    1
2015-12-22    1
2015-12-23    0
2015-12-24    1
2015-12-25    1
2015-12-28    1
2015-12-29    1
2015-12-30    0
2015-12-31    1
Freq: B, Name: dates, Length: 261, dtype: int64
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x114a1c208>
       Random numerics  dayofweek
dates
0                 5.84        104
1                 8.59        419
The sum of the values in series for every Wednesday:  5.8400000000000025

In [7]:
# Session 4: Assignment 1
# Task-2:
# 4. Average For each calendar month

import pandas as pd
import numpy as np
from numpy.random import randn as rn

s2 = random_df.groupby([lambda x: x.month])
print(s2)

s3 = s2.mean()
print("\nDataFrame Average for each calendar month\n",'-'*37, sep='')
print(s3['Random numerics'])

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x114a9f978>

DataFrame Average for each calendar month
-------------------------------------
1     0.473182
2     0.055500
3     0.216364
4     0.075455
5    -0.223333
6     0.098182
7     0.076087
8    -0.150476
9    -0.122727
10    0.170455
11   -0.193810
12    0.150000
Name: Random numerics, dtype: float64

In [8]:
# Session 4: Assignment 1
# Task-2:
# 5. For each group of four consecutive calendar months in s, 
# find the date on which the highest value occurred.

import pandas as pd
import numpy as np
from numpy.random import randn as rn

print(random_df)
qrtr_m = pd.Grouper(freq='4MS',label='right')
print(qrtr_m)

rgp_qrtr = random_df.groupby(qrtr_m)
print(rgp_qrtr)

rgp_qrtr.max()[:3]

                Random numerics      dates  dayofweek
Date_TimeIndex
2015-01-01                 2.71 2015-01-01          3
2015-01-02                 0.63 2015-01-02          4
2015-01-05                 0.91 2015-01-05          0
2015-01-06                 0.50 2015-01-06          1
2015-01-07                 0.65 2015-01-07          2
2015-01-08                -0.32 2015-01-08          3
2015-01-09                -0.85 2015-01-09          4
2015-01-12                 0.61 2015-01-12          0
2015-01-13                -2.02 2015-01-13          1
2015-01-14                 0.74 2015-01-14          2
2015-01-15                 0.53 2015-01-15          3
2015-01-16                -0.59 2015-01-16          4
2015-01-19                 0.19 2015-01-19          0
2015-01-20                -0.76 2015-01-20          1
2015-01-21                -0.93 2015-01-21          2
2015-01-22                 0.96 2015-01-22          3
2015-01-23                 0.19 2015-01-23          4
2015-01-26                 1.98 2015-01-26          0
2015-01-27                 2.61 2015-01-27          1
2015-01-28                 0.68 2015-01-28          2
2015-01-29                 0.30 2015-01-29          3
2015-01-30                 1.69 2015-01-30          4
2015-02-02                -1.71 2015-02-02          0
2015-02-03                -1.16 2015-02-03          1
2015-02-04                -0.13 2015-02-04          2
2015-02-05                 0.39 2015-02-05          3
2015-02-06                 0.17 2015-02-06          4
2015-02-09                 0.18 2015-02-09          0
2015-02-10                 0.81 2015-02-10          1
2015-02-11                 0.07 2015-02-11          2
...                         ...        ...        ...
2015-11-20                -1.52 2015-11-20          4
2015-11-23                -0.85 2015-11-23          0
2015-11-24                 1.60 2015-11-24          1
2015-11-25                 0.19 2015-11-25          2
2015-11-26                -0.99 2015-11-26          3
2015-11-27                -0.13 2015-11-27          4
2015-11-30                -1.34 2015-11-30          0
2015-12-01                -0.09 2015-12-01          1
2015-12-02                 0.70 2015-12-02          2
2015-12-03                -1.41 2015-12-03          3
2015-12-04                 0.87 2015-12-04          4
2015-12-07                 1.59 2015-12-07          0
2015-12-08                 0.93 2015-12-08          1
2015-12-09                -0.55 2015-12-09          2
2015-12-10                 0.94 2015-12-10          3
2015-12-11                -0.98 2015-12-11          4
2015-12-14                -1.05 2015-12-14          0
2015-12-15                 2.17 2015-12-15          1
2015-12-16                -1.27 2015-12-16          2
2015-12-17                -0.80 2015-12-17          3
2015-12-18                -0.25 2015-12-18          4
2015-12-21                 0.09 2015-12-21          0
2015-12-22                 1.32 2015-12-22          1
2015-12-23                 0.79 2015-12-23          2
2015-12-24                 1.36 2015-12-24          3
2015-12-25                 0.77 2015-12-25          4
2015-12-28                 0.29 2015-12-28          0
2015-12-29                -1.39 2015-12-29          1
2015-12-30                 0.15 2015-12-30          2
2015-12-31                -0.73 2015-12-31          3

[261 rows x 3 columns]
TimeGrouper(freq=<4 * MonthBegins>, axis=0, sort=True, closed='left', label='right', how='mean', convention='e', base=0)
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x114a1c080>

                Random numerics      dates  dayofweek
Date_TimeIndex
2015-05-01                 2.71 2015-04-30        4.0
2015-09-01                 2.30 2015-08-31        4.0
2016-01-01                 2.49 2015-12-31        4.0